<div object>
  <ul array key="todos" sortable>
    {{#for todo in todos}}
      <li object key:text="@innerText" edit:text>
        {{default todo.text "Click me to edit"}}
      </li>
    {{/for}}
  </ul>
  <button new:todo edit>Add</button>
</div>